<!DOCTYPE html>
<html lang="utf-8"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 목록 페이지</title>
</head>
<link rel="stylesheet" href="/css/nav.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/login.css">
<body>
<div class="navbar">
    <ul id="logo_text">
        <li><a th:href="@{/toyproject_one/admin_main}">Shopping Mall</a></li>
    </ul>
    <ul id="menu">
        <li><a th:href="@{/toyproject_one/ad_main}">로그아웃</a></li>
    </ul>
    <br><br><br>
    <nav class="navbar navbar-inverse">
        <div id="menu2">
            <ul class="main1">
                <li style="border: none; ">
                    <a href="#"><b style="font-size: 20px;"><span style="font-size: 20px;">≡</span> Product</b></a>
                    <ul class="main2">
                        <li><a th:href="@{/toyproject_one/item}">상품 등록</a></li>
                        <li><a class="active" th:href="@{/toyproject_one/item/list}">상품 목록</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>
<br><br><br><br><br><br><br><br><br>

<div style="text-align: center;">
    <table class="table table-striped" style="width: 80%; margin: auto; border: 1px solid #dddddd; border-collapse: collapse;">
        <thead>
        <tr>
            <th style="background-color: #eeeeee; text-align: center; border: 1px solid #dddddd; padding: 10px;">상품 코드</th>
            <th style="background-color: #eeeeee; text-align: center; border: 1px solid #dddddd; padding: 10px;">상품 명</th>
            <th style="background-color: #eeeeee; text-align: center; border: 1px solid #dddddd; padding: 10px;">가격</th>
            <th style="background-color: #eeeeee; text-align: center; border: 1px solid #dddddd; padding: 10px;">재고수량</th>
            <th style="background-color: #eeeeee; text-align: center; border: 1px solid #dddddd; padding: 10px;">상품 판매 상태</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${list}">
            <td style="border: 1px solid #dddddd; padding: 10px;" >
                <a th:text="${item.item_id}"  th:href="@{/toyproject_one/item/view(item_id=${item.item_id})}"></a>
            </td>
            <td th:text="${item.item_nm}" style="border: 1px solid #dddddd; padding: 10px;"></td>
            <td th:text="${item.price}" style="border: 1px solid #dddddd; padding: 10px;"></td>
            <td th:text="${item.stock_number}" style="border: 1px solid #dddddd; padding: 10px;"></td>
            <td th:text="${item.item_sell_status}" style="border: 1px solid #dddddd; padding: 10px;"></td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</body>
</html>