<!DOCTYPE html>
<html lang=" utf-8"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/aside_nav.css">
    <link rel="stylesheet" href="/css/product_write.css">
    <title>상품 게시판</title>
</head>
<body>
<header  th:insert="~{admin_login_index :: login_menu}"></header>
<br><br><br>
<div style="text-align: center; ">
    <table class="table table-striped"
           style="width: 80%; margin: auto; border: 1px solid #dddddd; border-collapse: collapse;">
        <thead>
        <tr>
            <th style="font-family: Helvetica; text-align: center; border: 1px solid #dddddd; padding: 10px;">상품 코드</th>
            <th style="font-family: Helvetica; text-align: center; border: 1px solid #dddddd; padding: 10px;">상품 명</th>
            <th style="font-family: Helvetica; text-align: center; border: 1px solid #dddddd; padding: 10px;">가격</th>
            <th style="font-family: Helvetica; text-align: center; border: 1px solid #dddddd; padding: 10px;">재고수량</th>
            <th style="font-family: Helvetica; text-align: center; border: 1px solid #dddddd; padding: 10px;">상품 판매 상태
            </th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="item : ${list}" style="font-family: Helvetica;">
            <td style="border: 1px solid #dddddd; padding: 10px;">
                <a th:text="${item.itemID}" th:href="@{/toyproject_one/item/view(itemID=${item.itemID})}"></a>
            </td>

            <td style="border: 1px solid #dddddd; padding: 10px;">
                <a th:text="${item.itemNM}" th:href="@{/toyproject_one/item/view(itemID=${item.itemID})}"></a>
            </td>

            <td style="border: 1px solid #dddddd; padding: 10px;">
                <a th:text="${item.price}" th:href="@{/toyproject_one/item/view(itemID=${item.itemID})}"></a>
            </td>

            <td style="border: 1px solid #dddddd; padding: 10px;">
                <a th:text="${item.stock_number}" th:href="@{/toyproject_one/item/view(itemID=${item.itemID})}"></a>
            </td>

            <td style="border: 1px solid #dddddd; padding: 10px;">
                <a th:text="${item.item_sell_status}" th:href="@{/toyproject_one/item/view(itemID=${item.itemID})}"></a>
            </td>
        </tr>
    </table>
</div>
<br><br><br>
<footer class="footer" th:insert="~{footer :: footer}"></footer>
</body>
</html>