<!DOCTYPE html>
<html lang=" utf-8"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/product_write.css">
    <title>상품 목록 페이지</title>
</head>
<body>
<header  th:insert="~{user_logout_index :: user_logout_menu}"></header>
<br><br><br>

<div style="text-align: center; ">
    <table class="table table-striped"
           style="width: 80%; margin: auto; border: 1px solid #dddddd; border-collapse: collapse;">
        <div class="products">
            <div th:each="item : ${list}" class="product">
                <a th:href="@{/toyproject_one/us_view(itemID=${item.itemID})}">
                    <img th:src="@{${item.item_img_filepath}}" alt="Product Image">
                    <p th:text="${item.itemID}"></p>
                    <p th:text="${item.itemNM}"></p>
                    <p class="price" th:text="${item.price} +' '+ 원"></p>
                </a>
            </div>
        </div>
    </table>
    <div>
        <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
            <a th:if="${page != nowPage}" th:href="@{/toyproject_one/us_item/list(page=${page-1})}"
               th:text="${page}"></a>
            <strong th:if="${page == nowPage}" th:text="${page}" style="color:gray"></strong>
        </th:block>
    </div>
</div>
<br><br><br>
<footer class="footer"th:insert="~{footer :: footer}"></footer>
</body>
</html>