<!DOCTYPE html>
<html lang=" utf-8"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/aside_nav.css">
    <link rel="stylesheet" href="/css/product_write.css">
    <title>관리자 페이지</title>
</head>
<body>
<header th:insert="~{admin_logout_index :: logout_menu}">
</header>
<!--<img class="hero_header" src="/img/Banner1.jpg" style="margin-left: 50px;">-->
<br><br><br>

<h1>New Products</h1>
<div style="text-align: center; ">
    <table class="table table-striped"
           style="width: 80%; margin: auto; border: 1px solid #dddddd; border-collapse: collapse;">
        <div class="products">
            <div th:each="item : ${items}" class="product">
                <a>
<!--                <a th:href="@{/toyproject_one/ad_item/view(itemID=${item.itemID})}">-->
                    <img th:src="@{${item.item_img_filepath}}" alt="Product Image">
                    <p th:text="${item.itemID}"></p>
                    <p th:text="${item.itemNM}"></p>
                    <p class="price" th:text="${item.price} +' '+ 원"></p>
                </a>
            </div>
        </div>
    </table>
</div>
<hr style="border: 1px solid gray; margin-top: 30px;">
<footer class="footer" th:insert="~{footer :: footer}"></footer>
</body>
</html>