<!DOCTYPE html>
<html lang=" utf-8"
      xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>
</head>
</head>
<link rel="stylesheet" href="/css/main.css">
<div class="navbar" >
    <ul id="logo_text">
        <li><a th:href = "@{/toyproject_one/ad_main}" >Shopping Mall</a></li>
    </ul>

    <ul id="menu">
        <li><a th:href = "@{/toyproject_one/ad_login}">로그인</a></li>
        <li><a th:href = "@{/toyproject_one/ad_signup}">회원가입</a></li>
    </ul>
</div>
<div class="hero-header"></div>
</body>

</html>