<!DOCTYPE html>
<html lang=" utf-8"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/aside_nav.css">
    <link rel="stylesheet" href="/css/product_write.css">
    <title>관리자 페이지</title>
</head>
<>
<header th:insert="~{admin_login_index :: login_menu}">
</header>

<h1>Our new Products</h1>
<div style="text-align: center; ">
    <table class="table table-striped"
           style="width: 80%; margin: auto; border: 1px solid #dddddd; border-collapse: collapse;">
        <div class="products">
            <div th:each="item : ${items}" class="product">
                <a th:href="@{/toyproject_one/item/view(itemID=${item.itemID})}">
                    <img th:src="@{${item.item_img_filepath}}" alt="Product Image">
                    <p th:text="${item.itemID}"></p>
                    <p th:text="${item.itemNM}"></p>
                    <p class="price" th:text="${item.price} +' '+ 원"></p>
                </a>
            </div>
        </div>
    </table>
</div>
<hr style="border: 1px solid gray; margin-top: 30px;">
<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="company-info">
                <h3>My Online Shopping mall</h3>
                <p>3 Eunhaeng-ro, Yeongdeungpo-gu, Seoul, Republic of Korea (Konai, 9th floor, Exconventure Tower,
                    Yeouido-dong) | Email: han.ej@konai.com | Phone: 02-2168-7689</p>
            </div>
            <p>&copy; 2024 My Online Shop. All rights reserved.</p><br>
        </div>
    </div>
</footer>
</body>
</html>
