<!DOCTYPE html>
<html lang=" utf-8"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/product_write.css">
    <title>상품 상세 페이지</title>
</head>
<body>
<header  th:insert="~{user_login_index :: user_login_menu}"></header>
<br><br><br>

<br><br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <table>
                        <tr>
                            <td rowspan="5" class="item-image">
                                <img th:src="@{${item.item_img_filepath}}"
                                     class="bd-placeholder-img card-img-top item-image"/>
                            </td>
                            <td class="text-padding text-right">상품 코드</td>
                            <td class="text-right" th:text="${item.itemID}"></td>
                        </tr>
                        <tr>
                            <td class="text-padding text-right">상품 명</td>
                            <td class="text-right" th:text="${item.itemNM}"></td>
                        </tr>
                        <tr>
                            <td class="text-padding text-right">가격</td>
                            <td class="text-right" th:text="${item.price} + 원"></td>
                        </tr>
                        <tr>
                            <td class="text-padding text-right">재고 수량</td>
                            <td class="text-right" th:text="${item.stock_number} + '개'"></td>
                        </tr>
                        <tr>
                            <td class="text-padding text-right">상품 판매 상태</td>
                            <td class="text-right" th:text="${item.item_sell_status}"></td>
                        </tr>
                        <tr th:if="${item.item_sell_status != '품절'}">
                            <td></td>
                            <td></td>
                            <td>
                                <form id="cartForm"
                                      th:action="@{/toyproject_one/user_item/user_cart/{userID}(userID=${userID})}"
                                      method="post" modelAttribute="cartDTO" style="display: inline-block;">
                                    <input class="font" type="hidden" id="cartID" name="cartID"
                                           style="display: block; width: 350px; margin: 0 auto;" readonly>
                                    <script>
                                        // 현재 시간을 가져오는 함수
                                        function getCurrentDateTime() {
                                            var now = new Date();
                                            var month = now.getMonth() + 1;
                                            var day = now.getDate();
                                            var hour = now.getHours();
                                            var minute = now.getMinutes();
                                            var second = now.getSeconds(); // 초

                                            // 한 자리 숫자인 경우 앞에 0을 추가
                                            if (month < 10) month = '0' + month;
                                            if (day < 10) day = '0' + day;
                                            if (hour < 10) hour = '0' + hour;
                                            if (minute < 10) minute = '0' + minute;
                                            if (second < 10) second = '0' + second;

                                            return 'C' + month + day + hour + minute + second;
                                        }

                                        // 현재 시간을 가져와서 상품 코드에 설정
                                        document.getElementById('cartID').value = getCurrentDateTime();
                                    </script>
                                    <input type="hidden" name="userID" th:value="${session.userID}" />
                                    <input type="hidden" name="itemImage" th:value="${item.item_img_filepath}"/>
                                    <input type="hidden" name="itemID" th:value="${item.itemID}"/>
                                    <input type="hidden" name="itemName" th:value="${item.itemNM}"/>
                                    <input type="hidden" name="price" th:value="${item.price}"/>
                                    <label for="Number">수량:</label>
                                    <input type="number" id="Number" name="Number" value="1" min="1"
                                           th:max="${item.stock_number}" oninput="checkValidity(this)" requiredn>
                                    <button type="submit"> ADD CART</button>
                                </form>
<!--                                <form id="payment"-->
<!--                                      th:action="@{/toyproject_one/user_item/user_payment/{userID}(userID=${userID})}"-->
<!--                                      method="post" modelAttribute="paymentDTO" style="display: inline-block;">-->
<!--                                    <input class="font" type="hidden" id="paymentID" name="paymentID"-->
<!--                                           style="display: block; width: 350px; margin: 0 auto;" readonly>-->
<!--                                    <script>-->
<!--                                        // 현재 시간을 가져오는 함수-->
<!--                                        function getCurrentDateTime() {-->
<!--                                            var now = new Date();-->
<!--                                            var month = now.getMonth() + 1;-->
<!--                                            var day = now.getDate();-->
<!--                                            var hour = now.getHours();-->
<!--                                            var minute = now.getMinutes();-->
<!--                                            var second = now.getSeconds(); // 초-->

<!--                                            // 한 자리 숫자인 경우 앞에 0을 추가-->
<!--                                            if (month < 10) month = '0' + month;-->
<!--                                            if (day < 10) day = '0' + day;-->
<!--                                            if (hour < 10) hour = '0' + hour;-->
<!--                                            if (minute < 10) minute = '0' + minute;-->
<!--                                            if (second < 10) second = '0' + second;-->

<!--                                            return 'pay' + month + day + hour + minute + second;-->
<!--                                        }-->

<!--                                        // 현재 시간을 가져와서 상품 코드에 설정-->
<!--                                        document.getElementById('paymentID').value = getCurrentDateTime();-->
<!--                                    </script>-->
<!--                                    <input type="hidden" name="userID" th:value="${session.userID}" />-->
<!--                                    <input type="hidden" name="itemImage" th:value="${item.item_img_filepath}"/>-->
<!--                                    <input type="hidden" name="itemID" th:value="${item.itemID}"/>-->
<!--                                    <input type="hidden" name="itemName" th:value="${item.itemNM}"/>-->
<!--                                    <input type="hidden" name="price" th:value="${item.price}"/>-->
<!--                                    <input type="hidden" id="pay_Number" name="pay_Number" value="1" min="1" required>-->
<!--                                    <button type="submit"> BUY NOW</button>-->
<!--                                </form>-->
                                <script>
                                    function updatePaymentNumber(element) {
                                        document.getElementById("pay_Number").value = element.value;
                                    }
                                </script>
                            </td>
                        </tr>
                        <tr th:if="${item.item_sell_status == '품절'}">
                            <td></td>
                            <td colspan="2" style="text-align: center; color: #c20c0c;">해당 상품은 현재 구매할 수 없습니다.</td>
                        </tr>
                        <script>
                            // JavaScript로 입력된 값이 유효한지 확인
                            function checkValidity(input) {
                                var value = input.value;
                                var stockNumber = parseInt('${item.stock_number}');

                                // 입력값이 숫자가 아니거나 최대값을 초과하는 경우
                                if (isNaN(value) || parseInt(value) > stockNumber) {
                                    input.setCustomValidity("재고 수량보다 작아야합니다.");
                                } else {
                                    input.setCustomValidity('');
                                }
                            }
                        </script>
                    </table>
                </div>
            </div>
            <br>
            <hr style="border: 1px solid #ccc; margin-top: 20px;">
            <br><br>
            <h5 style="font-family: Helvetica; text-align: left;color: gray; display: inline;">Q&A</h5>
            <button onclick="listWrit()" style="float: right;">문의글 작성</button>
            <script th:inline="javascript">
                const listWrit = () => {
                    console.log("리뷰 작성");
                    const itemID = [[${item.itemID}]];
                    location.href = "/toyproject_one/user_board/write/" + itemID ;
                }
            </script>
            <div style="text-align: center; ">
                <table class="table table-striped" style="width: 100%; margin: auto; border-collapse: collapse;">
                    <thead>
                    <tr>
                        <th style="font-family: Helvetica; text-align: center; font-size: 11px; color: gray; border-top: 1px solid #dddddd; border-bottom: 3px solid #ccc; padding: 8px; width: 150px;">
                            Subject
                        </th>
                        <th style="font-family: Helvetica; text-align: center; font-size: 11px; color: gray; border-top: 1px solid #dddddd; border-bottom: 3px solid #ccc; padding: 8px; width: 50px;">
                            Name
                        </th>
                        <th style="font-family: Helvetica; text-align: center; font-size: 11px; color: gray; border-top: 1px solid #dddddd; border-bottom: 3px solid #ccc; padding: 8px; width: 80px;">
                            DATE
                        </th>
                        <th style="font-family: Helvetica; text-align: center; font-size: 11px; color: gray; border-top: 1px solid #dddddd; border-bottom: 3px solid #ccc; padding: 8px; width: 10px;">
                            HIT
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="board : ${boardList}" style="font-family: Helvetica;">
                        <!-- itemID가 동일한 경우에만 데이터를 표시 -->
                        <th:block th:if="${board.itemID == item.itemID}">
                            <td style="border-top: 1px solid #dddddd; border-bottom: 1px solid #dddddd; padding: 8px; font-size: 11px;">
                                <a th:href="@{|/toyproject_one/user_board/${board.itemID}/${board.boardID}|}"
                                   th:text="${board.boardTitle}"></a>
                            </td>
                            <td style="border-top: 1px solid #dddddd; border-bottom: 1px solid #dddddd; padding: 8px; font-size: 11px;">
                                <a th:href="@{|/toyproject_one/user_board/${board.itemID}/${board.boardID}|}"
                                   th:text="${board.userID}"></a>
                            </td>
                            <td style="border-top: 1px solid #dddddd; border-bottom: 1px solid #dddddd; padding: 8px; font-size: 11px;">
                                <a th:href="@{|/toyproject_one/user_board/${board.itemID}/${board.boardID}|}"
                                   th:text="*{#temporals.format(board.boardCreatedTime,'yyyy-MM-dd HH:mm:ss')}"></a>
                            </td>
                            <td style="border-top: 1px solid #dddddd; border-bottom: 1px solid #dddddd; padding: 8px; font-size: 11px;">
                                <a th:href="@{|/toyproject_one/user_board/${board.itemID}/${board.boardID}|}"
                                   th:text="${board.boardHits}"></a>
                            </td>
                        </th:block>
                    </tr>
                    </tbody>
                </table>
            </div>
            <br><br>
<!--            <h5 style="font-family: Helvetica; text-align: left;color: gray; display: inline;">Q&A</h5>-->
<!--            <button onclick="QaWrite()" style="float: right;">Q&A 작성</button>-->
<!--            <div style="text-align: center; ">-->
<!--                <table class="table table-striped" style="width: 100%; margin: auto; border-collapse: collapse;">-->
<!--                    <thead>-->
<!--                    <tr>-->
<!--                        <th style="font-family: Helvetica; text-align: center; font-size: 11px; color: gray; border-top: 1px solid #dddddd; border-bottom: 3px solid #ccc; padding: 8px; width: 10px;">-->
<!--                            No.-->
<!--                        </th>-->
<!--                        <th style="font-family: Helvetica; text-align: center; font-size: 11px; color: gray; border-top: 1px solid #dddddd; border-bottom: 3px solid #ccc; padding: 8px; width: 150px;">-->
<!--                            Subject-->
<!--                        </th>-->
<!--                        <th style="font-family: Helvetica; text-align: center; font-size: 11px; color: gray; border-top: 1px solid #dddddd; border-bottom: 3px solid #ccc; padding: 8px; width: 50px;">-->
<!--                            Name-->
<!--                        </th>-->
<!--                        <th style="font-family: Helvetica; text-align: center; font-size: 11px; color: gray; border-top: 1px solid #dddddd; border-bottom: 3px solid #ccc; padding: 8px; width: 80px;">-->
<!--                            DATE-->
<!--                        </th>-->
<!--                        <th style="font-family: Helvetica; text-align: center; font-size: 11px; color: gray; border-top: 1px solid #dddddd; border-bottom: 3px solid #ccc; padding: 8px; width: 10px;">-->
<!--                            HIT-->
<!--                        </th>-->
<!--                    </tr>-->
<!--                    </thead>-->
<!--                    <tbody>-->
<!--                    <tr th:each="board, rowStat : ${boardList}" style="font-family: Helvetica;">-->
<!--                        &lt;!&ndash; itemID가 동일한 경우에만 데이터를 표시 &ndash;&gt;-->
<!--                        <th:block th:if="${board.itemID == item.itemID}">-->
<!--                            <td style="border-top: 1px solid #dddddd; border-bottom: 1px solid #dddddd; padding: 8px; text-align: center; font-size: 11px;">-->
<!--                                <span th:text="${rowStat.count}"></span>-->
<!--                            </td>-->

<!--                            <td style="border-top: 1px solid #dddddd; border-bottom: 1px solid #dddddd; padding: 8px; font-size: 11px;">-->
<!--                                <a th:text="${board.itemID}"></a>-->
<!--                            </td>-->

<!--                            <td style="border-top: 1px solid #dddddd; border-bottom: 1px solid #dddddd; padding: 8px; font-size: 11px;">-->
<!--                                <a th:text="${board.boardID}"></a>-->
<!--                            </td>-->

<!--                            <td style="border-top: 1px solid #dddddd; border-bottom: 1px solid #dddddd; padding: 8px; font-size: 11px;">-->
<!--                                <a th:text="${board.boardID}"></a>-->
<!--                            </td>-->

<!--                            <td style="border-top: 1px solid #dddddd; border-bottom: 1px solid #dddddd; padding: 8px; font-size: 11px;">-->
<!--                                <a th:text="${board.boardID}"></a>-->
<!--                            </td>-->
<!--                        </th:block>-->
<!--                    </tr>-->
<!--                    </tbody>-->
<!--                </table>-->
            </div>
        </div>
    </div>
</div>
</div>
</form>
</main>
<br><br><br>
<footer class="footer" th:insert="~{footer :: footer}"></footer>
</body>
</html>