<!DOCTYPE html>
<html lang=" utf-8"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/product_write.css">
    <title>게시판 목록</title>
</head>
<body>
<header  th:insert="~{user_login_index :: user_login_menu}"></header>
<br><br><br>


    <div style="text-align: center; ">
        <table class="table table-striped"
               style="width: 80%; margin: auto; border: 1px solid #dddddd; border-collapse: collapse;">
            <thead>
            <tr>
                <th style="font-family: Helvetica; text-align: center; border: 1px solid #dddddd; padding: 10px; color: gray; width: 8%;">
                    No.
                </th>
                <th style="font-family: Helvetica; text-align: center; border: 1px solid #dddddd; padding: 10px; color: gray;">
                    Product
                </th>
                <th style="font-family: Helvetica; text-align: center; border: 1px solid #dddddd; padding: 10px; color: gray; width: 40%;">
                    Subject
                </th>
                <th style="font-family: Helvetica; text-align: center; border: 1px solid #dddddd; padding: 10px; color: gray; width: 10%;">
                    ID
                </th>
                <th style="font-family: Helvetica; text-align: center; border: 1px solid #dddddd; padding: 10px; color: gray;">
                    DATE
                </th>
                <th style="font-family: Helvetica; text-align: center; border: 1px solid #dddddd; padding: 10px; color: gray;">
                    HIT
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board, rowStat : ${boardList}" style="font-family: Helvetica;">
                <td style="border: 1px solid #dddddd; padding: 10px; text-align: center; font-size: 13px;">
                    <span th:text="${rowStat.count}"></span>
                </td>
                <td style="border: 1px solid #dddddd; padding: 10px; font-size: 13px; ">
                    <a th:href="@{|/toyproject_one/user_board/${board.itemID}/${board.boardID}|}" th:text="${board.itemID}"></a>
                </td>

                <td style="border: 1px solid #dddddd; padding: 10px; font-size: 13px; ">
                    <a th:href="@{|/toyproject_one/user_board/${board.itemID}/${board.boardID}|}" th:text="${board.boardTitle}"></a>
                </td>
                <td style="border: 1px solid #dddddd; padding: 10px; font-size: 13px; ">
                    <a th:href="@{|/toyproject_one/user_board/${board.itemID}/${board.boardID}|}" th:text="${board.userID}"></a>
                </td>
                <td style="border: 1px solid #dddddd; padding: 10px; font-size: 13px;">
                    <a th:href="@{|/toyproject_one/user_board/${board.itemID}/${board.boardID}|}" th:text="*{#temporals.format(board.boardCreatedTime,'yyyy-MM-dd HH:mm:ss')}"></a>
                </td>
                <td style="border: 1px solid #dddddd; padding: 10px; font-size: 13px; ">
                    <a th:href="@{|/toyproject_one/user_board/${board.itemID}/${board.boardID}|}" th:text="${board.boardHits}"></a>
                </td>
            </tr>
        </table>
        <br><br><br>

        <span th:each="page: ${#numbers.sequence(startPage, endPage)}">
            <span th:if="${page == boardList.number + 1}" th:text="${page}"></span>
            <a th:unless="${page == boardList.number + 1}" th:href="@{/toyproject_one/user_board/paging(page=${page})}"
                th:text="${page}"></a>
        </span>
    </div>
</header>
<footer class="footer" th:insert="~{footer :: footer}"></footer>
</body>
</html>