<!DOCTYPE html>
<html lang=" utf-8"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/product_write.css">
    <title>상품 후기</title>
</head>
<body>
<header  th:insert="~{user_login_index :: user_login_menu}"></header>
<br><br><br>

<form th:action="@{/toyproject_one/user_board/write/{itemID}(itemID=${item.itemID})}" method="post">
    <div style="text-align: center;">
        <table style="margin: 0 auto; border: 1px solid #dddddd; border-collapse: collapse;">
            <p class="tip"></p>
            <thead>
            <tr>
                <th class="navbar" colspan="2" style="text-align: center;">
                    <h3 style="margin: 0;">상품 후기 등록</h3>
                </th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td style="text-align: left;"> 상품 이미지</td>
                <td style="text-align: left;" class="font">
                    <img th:src="@{${item.item_img_filepath}}" style="width: 200px; height: 200px;"/>
                </td>
            </tr>

            <tr>
                <td style="width: 25%; text-align: left;">상품코드</td>
                <td style="width: 75%; text-align: left;">
                    <input class="font" type="text" id="itemID" name="itemID"
                           style="display: block; width: 350px; margin: 0 auto; border: none;" readonly
                           th:value="${item.itemID}">
                    <span th:text="${valid_itemID}" style="color: #c20c0c;"></span>
                </td>
            </tr>

            <tr>
                <td style="width: 25%; text-align: left;"> 문의 번호</td>
                <td style="width: 75%; text-align: right;">
                    <input class="font" type="text" id="boardID" name="boardID"
                           style="display: block; width: 350px; margin: 0 auto; border: none; "
                           required readonly/>
                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        // 현재 시간을 가져오는 함수
                        function getCurrentDateTime() {
                            var now = new Date();
                            var year = now.getFullYear().toString().substr(-2); // 연도의 마지막 2자리
                            var month = ('0' + (now.getMonth() + 1)).slice(-2); // 월 (두 자리로)
                            var day = ('0' + now.getDate()).slice(-2); // 일 (두 자리로)
                            var hour = ('0' + now.getHours()).slice(-2); // 시간 (두 자리로)
                            var minute = ('0' + now.getMinutes()).slice(-2); // 분 (두 자리로)
                            var second = ('0' + now.getSeconds()).slice(-2); // 초 (두 자리로)

                            return 'A' + year + month + day + hour + minute + second;
                        }

                        // 현재 시간을 가져와서 상품 코드에 설정
                        var userID = /*[[${session.userID}]]*/ ''; // Thymeleaf의 세션 객체를 사용하여 세션에서 userID 가져오기
                        var boardIDField = document.getElementById('boardID');
                        boardIDField.value = getCurrentDateTime() + '_' + userID;
                        /*]]>*/
                    </script>
                </td>
            </tr>

            <tr>
                <td style="text-align: left;"> 작성자</td>
                <td style="text-align: left;">
                    <input class="font" type="text" readonly id="userID" name="userID"
                           style="display: block; width: 350px; margin: 0 auto; border: none;"
                           th:value="${session.userID}"/>
                </td>
            </tr>

            <tr>
                <td style="text-align: left;"> 게시판 비밀번호</td>
                <td style="text-align: left;">
                    <input class="font" type="password" id="boardPW" name="boardPW"
                           style="display: block; width: 350px; margin: 0 auto;" required/>
                </td>
            </tr>

            <tr>
                <td style="text-align: left;"> 제목</td>
                <td style="text-align: left;">
                    <input class="font" type="text" id="boardTitle" name="boardTitle"
                           style="display: block; width: 350px; margin: 0 auto;" required/>
                </td>
            </tr>

            <tr>
                <td style="text-align: left;"> 내용</td>
                <td style="text-align: left;">
                        <textarea class="font" style="display: block; width: 350px; height: 200px; margin: 0 auto;"
                                  id="boardContent" name="boardContent" required></textarea>
                </td>
            </tr>

            <tr>
                <td style="text-align: center;"></td>
                <td style="width: 75%; text-align: center;">
                    <button class="background" type="submit">상품 후기 등록</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</form>
<br>
<footer class="footer" th:insert="~{footer :: footer}"></footer>
</body>
</html>