<!DOCTYPE html>
<html lang=" utf-8"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/product_write.css">
    <title>상품 후기</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div style="text-align: center;">
                <br>
                <li class="nav-item" style="padding-left: 30px; height: 60px;">
                    <a class="nav-link" style="padding-left: 10px; padding-right: 10px;" href="#" id="adminLink">Shopping
                        Mall</a>
                </li>
                <img src="/img/logo.jpg" alt="Logo" style="max-height: 80px; max-width: 350px;">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <!--                        <a class="nav-link" th:href="@{/toyproject_one/user_cart/{userID}(userID=${user.userID})}">장바구니</a>&nbsp;&nbsp;&nbsp;-->
                        <a class="nav-link" th:href="@{/toyproject_one/user_page}">내 정보</a>&nbsp;&nbsp;&nbsp;
                        <a class="nav-link" th:href="@{/toyproject_one/main}">로그아웃</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <div style="text-align: center; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 10px 0;">
        <div>
            <a class="menu active" th:href="@{/toyproject_one/user_main}"> Home</a>
            <a class="menu " th:href="@{/toyproject_one/user_item/list}"> All</a>
            <a class="menu " th:href="@{/toyproject_one/user_item/list/Outer}"> Outer</a>
            <a class="menu " th:href="@{/toyproject_one/user_item/list/Top}"> Top</a>
            <a class="menu " th:href="@{/toyproject_one/user_item/list/Bottom}"> Bottom</a>
            <a class="menu " th:href="@{/toyproject_one/user_item/list/Dress}"> Dress</a>
            <a class="menu " th:href="@{/toyproject_one/user_item/list/Accessories}"> Accessories</a>
            <a class="menu " th:href="@{/toyproject_one/user_board}"> 상품후기</a>
            <a class="menu " th:href="@{/toyproject_one/user_board}"> Q&A</a>
            <form th:action="@{/toyproject_one/user_item/list}" method="get" style="display: inline-block;">
                <button class="menu " type="submit">상품명 검색</button>
                <input type="text" name="searchKeyword">
            </form>
        </div>
    </div>
</header>
<br><br><br>

<form th:action="@{/toyproject_one/user_board/write/{itemID}(itemID=${item.itemID})}" method="post">
    <div style="text-align: center;">
        <table style="margin: 0 auto; border: 1px solid #dddddd; border-collapse: collapse;">
            <p class="tip"></p>
            <thead>
            <tr>
                <th class="navbar" colspan="2" style="text-align: center;">
                    <h3 style="margin: 0;">상품 후기 등록</h3>
                </th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td style="text-align: left;"> 상품 이미지</td>
                <td style="text-align: center;" class="font">
                    <img th:src="@{${item.item_img_filepath}}" style="width: 300px; height: 300px;"/>
                </td>
            </tr>

            <tr>
                <td style="width: 25%; text-align: left;">상품코드</td>
                <td style="width: 75%; text-align: left;">
                    <input class="font" type="text" id="itemID" name="itemID"
                           style="display: block; width: 350px; margin: 0 auto; border: none;" readonly
                           th:value="${item.itemID}">
                    <span th:text="${valid_itemID}" style="color: #c20c0c;"></span>
                </td>
            </tr>

            <tr>
                <td style="width: 25%; text-align: left;"> 문의 번호</td>
                <td style="width: 75%; text-align: right;">
                    <input class="font" type="text" id="boardID" name="boardID"
                           style="display: block; width: 350px; margin: 0 auto; border: none; "
                           required readonly/>
                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        // 현재 시간을 가져오는 함수
                        function getCurrentDateTime() {
                            var now = new Date();
                            var year = now.getFullYear().toString().substr(-2); // 연도의 마지막 2자리
                            var month = ('0' + (now.getMonth() + 1)).slice(-2); // 월 (두 자리로)
                            var day = ('0' + now.getDate()).slice(-2); // 일 (두 자리로)
                            var hour = ('0' + now.getHours()).slice(-2); // 시간 (두 자리로)
                            var minute = ('0' + now.getMinutes()).slice(-2); // 분 (두 자리로)
                            var second = ('0' + now.getSeconds()).slice(-2); // 초 (두 자리로)

                            return 'A' + year + month + day + hour + minute + second;
                        }

                        // 현재 시간을 가져와서 상품 코드에 설정
                        var userID = /*[[${session.userID}]]*/ ''; // Thymeleaf의 세션 객체를 사용하여 세션에서 userID 가져오기
                        var boardIDField = document.getElementById('boardID');
                        boardIDField.value = getCurrentDateTime() + '_' + userID;
                        /*]]>*/
                    </script>
                </td>
            </tr>

            <tr>
                <td style="text-align: left;"> 작성자</td>
                <td style="text-align: left;">
                    <input class="font" type="text" readonly id="userID" name="userID"
                           style="display: block; width: 350px; margin: 0 auto; border: none;"
                           th:value="${session.userID}"/>
                </td>
            </tr>

            <tr>
                <td style="text-align: left;"> 게시판 비밀번호</td>
                <td style="text-align: left;">
                    <input class="font" type="password" id="boardPW" name="boardPW"
                           style="display: block; width: 350px; margin: 0 auto;" required/>
                </td>
            </tr>

            <tr>
                <td style="text-align: left;"> 제목</td>
                <td style="text-align: left;">
                    <input class="font" type="text" id="boardTitle" name="boardTitle"
                           style="display: block; width: 350px; margin: 0 auto;" required/>
                </td>
            </tr>

            <tr>
                <td style="text-align: left;"> 내용</td>
                <td style="text-align: left;">
                        <textarea class="font" style="display: block; width: 350px; height: 200px; margin: 0 auto;"
                                  id="boardContent" name="boardContent" required></textarea>
                </td>

            <tr>
                <td style="text-align: center;"></td>
                <td style="width: 75%; text-align: center;">
                    <button class="background" type="submit">상품 후기 등록</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</form>

<br>
<hr style="border: 1px solid gray; margin-top: 30px;">
<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="company-info">
                <h3>My Online Shopping mall</h3>
                <p>3 Eunhaeng-ro, Yeongdeungpo-gu, Seoul, Republic of Korea (Konai, 9th floor, Exconventure Tower,
                    Yeouido-dong) | Email: han.ej@konai.com | Phone: 02-2168-7689</p>
            </div>
            <p>&copy; 2024 My Online Shop. All rights reserved.</p><br>
        </div>
    </div>
</footer>
</body>
</html>