<!DOCTYPE html>
<html lang=" utf-8"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/product_write.css">
    <title>메인 페이지</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div style="text-align: center;">
                <br>
                <li class="nav-item" style="padding-left: 30px; height: 60px;">
                    <a class="nav-link" style="padding-left: 10px; padding-right: 10px;" href="#" id="adminLink">Shopping
                        Mall</a>
                </li>
                <img src="/img/logo.jpg" alt="Logo" style="max-height: 80px; max-width: 350px;">
                <ul class="navbar-nav">
                    <li class="nav-item">
<!--                        <a class="nav-link" th:href="@{/toyproject_one/user_cart/{userID}(userID=${user.userID})}">장바구니</a>&nbsp;&nbsp;&nbsp;-->
                        <a class="nav-link" th:href="@{/toyproject_one/user_page}">내 정보</a>&nbsp;&nbsp;&nbsp;
                        <a class="nav-link" th:href="@{/toyproject_one/main}">로그아웃</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <div style="text-align: center; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 10px 0;">
        <div>
            <a class="menu active" th:href="@{/toyproject_one/user_main}"> Home</a>
            <a class="menu " th:href="@{/toyproject_one/user_item/list}"> All</a>
            <a class="menu " th:href="@{/toyproject_one/user_item/list/Outer}"> Outer</a>
            <a class="menu " th:href="@{/toyproject_one/user_item/list/Top}"> Top</a>
            <a class="menu " th:href="@{/toyproject_one/user_item/list/Bottom}"> Bottom</a>
            <a class="menu " th:href="@{/toyproject_one/user_item/list/Dress}"> Dress</a>
            <a class="menu " th:href="@{/toyproject_one/user_item/list/Accessories}"> Accessories</a>
            <a class="menu " th:href="@{/toyproject_one/user_board}"> 상품후기</a>
            <a class="menu " th:href="@{/toyproject_one/user_board}"> Q&A</a>
            <form th:action="@{/toyproject_one/user_item/list}" method="get" style="display: inline-block;">
                <button class="menu " type="submit">상품명 검색</button>
                <input type="text" name="searchKeyword">
            </form>
        </div>
    </div>
</header>
<img class="hero_header" src="/img/Banner1.jpg"><br><br><br>

<h1> Our new Products</h1>
<div style="text-align: center; ">
    <table class="table table-striped"
           style="width: 80%; margin: auto; border: 1px solid #dddddd; border-collapse: collapse;">
        <div class="products">
            <div th:each="item : ${items}" class="product">
                <a th:href="@{/toyproject_one/us_board(itemID=${item.itemID})}">
                    <img th:src="@{${item.item_img_filepath}}" alt="Product Image">
                    <p th:text="${item.itemID}"></p>
                    <p th:text="${item.itemNM}"></p>
                    <p class="price" th:text="${item.price} +' '+ 원"></p>
                </a>
            </div>
        </div>
    </table>
</div>
<hr style="border: 1px solid gray; margin-top: 30px;">
<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="company-info">
                <h3>My Online Shopping mall</h3>
                <p>3 Eunhaeng-ro, Yeongdeungpo-gu, Seoul, Republic of Korea (Konai, 9th floor, Exconventure Tower,
                    Yeouido-dong) | Email: han.ej@konai.com | Phone: 02-2168-7689</p>
            </div>
            <p>&copy; 2024 My Online Shop. All rights reserved.</p><br>
        </div>
    </div>
</footer>
</body>
</html>