<!DOCTYPE html>
<html lang=" utf-8"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body>
<footer class="footer" th:fragment="footer">
    <div class="container">
        <div class="footer-content">
            <div class="company-info">
                <h3>My Online Shopping mall</h3>
                <p>3 Eunhaeng-ro, Yeongdeungpo-gu, Seoul, Republic of Korea (Konai, 9th floor, Exconventure Tower,
                    Yeouido-dong) | Email: han.ej@konai.com | Phone: 02-2168-7689</p>
            </div>
            <p>&copy; 2024 My Online Shop. All rights reserved.</p><br>
        </div>
    </div>
</footer>
</body>
</html>