<!DOCTYPE html>
<html lang=" utf-8"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/aside_nav.css">
    <link rel="stylesheet" href="/css/product_write.css">
    <title>리뷰 상세 페이지</title>
</head>
<header th:insert="~{admin_login_index :: login_menu}">
</header>
<br><br><br>

<div style="text-align: center;">
    <table style="margin: 0 auto; border: 1px solid #dddddd; border-collapse: collapse;">
        <p class="tip"></p>
        <tbody>
        <tr>
            <td style="text-align: left;">
                <img th:src="@{${item.item_img_filepath}}" style="width: 200px; height: 200px;"/>
            </td>
            <td ></td>
        </tr>
        <tr>
            <td style="text-align: left;"> 상품명</td>
            <td th:text="${item.itemNM}"></td>
        </tr>
        <tr>
            <td style="text-align: left;"> 작성자</td>
            <td th:text="${board.userID}"></td>
        </tr>
        <tr>
            <td style="text-align: left;"> 제목</td>
            <td th:text="${board.boardTitle}"></td>
        </tr>
        <tr>
            <td style="text-align: left;"> 내용</td>
            <td th:text="${board.boardContent}"></td>
        </tr>
        </tbody>
    </table>
    <br><br>
    <button onclick="listReq()">목록</button>
    <button onclick="confirmDelete()">삭제</button>
    <script th:inline="javascript">
        const listReq = () => {
            console.log("목록 요청");
            history.back(); // 이전 페이지로 이동
        }

        const confirmDelete = () => {
            console.log("삭제 요청 확인");
            if (confirm("정말로 삭제하시겠습니까?")) {
                console.log("삭제 요청");
                const itemID = [[${item.itemID}]]; // itemID를 가져옵니다.
                const boardID = [[${board.boardID}]]; // boardID를 가져옵니다.
                location.href = "/toyproject_one/admin_board/delete/" + itemID + "/" + boardID;
            }
        }
    </script>
    <br><br><br><br><br><br><br>
    <footer class="footer" th:insert="~{footer :: footer}"></footer>
</div>
</body>
</html>